@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts/StyreneA/stylesheet.css");
@import url("./fonts/rouble/style.css");

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-light-bg-primary: black;
  --icon-button-primary-base-color: white;
  --color-light-graphic-primary-tint-20: white;
  --color-light-bg-overlay: rgba(0, 0, 0, 0.05);
  --side-panel-s-width: 480px;
  --side-panel-s-content-paddings: 0 30px;
  --side-panel-s-footer-paddings: var(--gap-xl) 40px var(--gap-2xl);
  --size-m-height: 42px;
  --font-family: "Styrene A Web", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Styrene A Web", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rouble {
  font-family: "rouble";
}
